body{
    font-family: "Open Sanse", sans-serif ;
}
*{
    color: tomato;
}
p {color: teal;}

.text,
.header-link

{color:brown}

.list{list-style: none;}

[href="https://www.google.com.ua/"] {color: green;}

.header-nav 
a {background-color: rgb(182, 193, 202);}
.header-item > a { background-color: aqua;}
.header-tel + button {background-color: blue;}